<!DOCTYPE html>

<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
    <meta name="viewport" content="width=device-width" />
    <!-- Animate.css -->
    <link rel="stylesheet" href="~/Content/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="~/Content/icomoon.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="~/Content/bootstrap.css">

    <!-- Magnific Popup -->
    <link rel="stylesheet" href="~/Content/magnific-popup.css">

    <!-- Flexslider  -->
    <link rel="stylesheet" href="~/Content/flexslider.css">

    <!-- Owl Carousel -->
    <link rel="stylesheet" href="~/Content/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/owl.theme.default.min.css">

    <!-- Date Picker -->
    <link rel="stylesheet" href="~/Content/bootstrap-datepicker.css">
    <!-- Flaticons  -->
    <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">

    <!-- Theme style  -->
    <link rel="stylesheet" href="~/Content/style.css">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <link href="~/Content/PagedList.css" rel="stylesheet" />
    <title>The Gooner Travel</title>
    <link rel="icon" href="~/images/logosuper_iab_icon.ico">
</head>
<body>    
    <div id="page">
        <nav class="colorlib-nav" role="navigation">
            <div class="top-menu">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-2">
                            @*<div id="colorlib-logo">@Html.ActionLink("HT TRAVEL","Index")</div>*@
                            <div id="colorlib-logo">
                                <a href="@Url.Action("Index", "QLKS")">
                                    <img src="~/images/LOGOdath.png"/>
                                </a>
                            </div>
                        </div>
                        <div class="col-xs-10 text-right menu-1">
                            <ul>
                                <li class="active">@Html.ActionLink("Home","Index","QLKS")</li>
                                @*<li class="has-dropdown">
                                    <a href="tours.html">HomeStays</a>
                                    <ul class="dropdown">
                                        <li><a href="#">Destination</a></li>
                                        <li><a href="#">Cruises</a></li>
                                        <li><a href="#">Hotels</a></li>
                                        <li><a href="#">Booking</a></li>
                                    </ul>
                                </li>*@
                                @*<li><a href="hotels.html">Trở thành chủ nhà</a></li>*@
                                <li><a>Hỗ trợ(19009090)</a></li>
                                @*<li><a href="blog.html">Blog</a></li>*@              
                                @if (Session["TaiKhoan"] != null)
                                {
                                    <li class="has-dropdown">
                                        <a href="#">@(((tmt.Models.KhacHang)Session["TaiKhoan"]).HoTen)</a>
                                        <ul class="dropdown" style="background-color:black">
                                            <li>
                                                @Html.Action("LogOut","Use")
                                                
                                                @*@Html.Action("VLogoutuser", "MotorStore")*@
                                            </li>
                                        </ul>
                                    </li>                                                              
                                }          
                                else
                                {
                                    <li>@Html.ActionLink("Đăng nhập/Đăng ký", "DN", "Use")</li>
                                }

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        @*<aside id="colorlib-hero">
            <div class="flexslider">
                <ul class="slides">
                    <li style="background-image: url(/images/img_bg_1.jpg);">
                        <div class="overlay"></div>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12 slider-text">
                                    <div class="slider-text-inner text-center">
                                        <h1>Khách sạn như là nhà</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li style="background-image: url(/images/banner_1.jpg);">
                        <div class="overlay"></div>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12 slider-text">
                                    <div class="slider-text-inner text-center">
                                        <h1>Nha Trang</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li style="background-image: url(/images/banner_2.jpg);">
                        <div class="overlay"></div>
                        <div class="container-fluids">
                            <div class="row">
                                <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12 slider-text">
                                    <div class="slider-text-inner text-center">
                                        <h1>Vũng Tàu</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li style="background-image: url(/images/banner_3.jpg);">
                        <div class="overlay"></div>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12 slider-text">
                                    <div class="slider-text-inner text-center">
                                        <h1>Sapa</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </aside>*@
        
    </div>
    <div class="main-content">
        @RenderBody()
    </div>
    <footer id="colorlib-footer" role="contentinfo">
        <div class="container">
            <div class="row row-pb-md">
                <div class="col-md-3 colorlib-widget">
                    <h4>Tour Agency</h4>
                    <p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.</p>
                    <p>
                        <ul class="colorlib-social-icons">                            
                            <li><a href="https://www.facebook.com/toantt102"><i class="icon-facebook"></i></a></li>
                            <li><a href="https://www.instagram.com/toantuctung/"><i class="icon-instagram"></i></a></li>
                            <li><a href="#"><i class="icon-dribbble"></i></a></li>
                        </ul>
                    </p>
                </div>
                <div class="col-md-2 colorlib-widget">
                    <h4>Book Now</h4>
                    <p>
                        <ul class="colorlib-footer-links">
                            <li><a href="#">Flight</a></li>
                            <li><a href="#">Hotels</a></li>
                            <li><a href="#">Tour</a></li>
                            <li><a href="#">Car Rent</a></li>
                            <li><a href="#">Beach &amp; Resorts</a></li>
                            <li><a href="#">Cruises</a></li>
                        </ul>
                    </p>
                </div>
                <div class="col-md-2 colorlib-widget">
                    <h4>Top Deals</h4>
                    <p>
                        <ul class="colorlib-footer-links">
                            <li><a href="#">Edina Hotel</a></li>
                            <li><a href="#">Quality Suites</a></li>
                            <li><a href="#">The Hotel Zephyr</a></li>
                            <li><a href="#">Da Vinci Villa</a></li>
                            <li><a href="#">Hotel Epikk</a></li>
                        </ul>
                    </p>
                </div>
                <div class="col-md-2">
                    <h4>Blog Post</h4>
                    <ul class="colorlib-footer-links">
                        <li><a href="#">The Ultimate Packing List For Female Travelers</a></li>
                        <li><a href="#">How These 5 People Found The Path to Their Dream Trip</a></li>
                        <li><a href="#">A Definitive Guide to the Best Dining and Drinking Venues in the City</a></li>
                    </ul>
                </div>

                <div class="col-md-3 col-md-push-1">
                    <h4>Contact Information</h4>
                    <ul class="colorlib-footer-links">
                        <li>291 South 21th Street, <br> Suite 721 New York NY 10016</li>
                        <li><a href="tel://1234567920">+ 1235 2355 98</a></li>
                        <li><a href="mailto:info@yoursite.com">info@yoursite.com</a></li>
                        <li><a href="#">yoursite.com</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart2" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></span>
                        <span class="block">Demo Images: <a href="http://unsplash.co/" target="_blank">Unsplash</a> , <a href="http://pexels.com/" target="_blank">Pexels.com</a></span>
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <div class="gototop js-top">
        <a href="#" class="js-gotop"><i class="icon-arrow-up2"></i></a>
    </div>
    <script src="~/Scripts/jquery.min.js"></script>
    <!-- jQuery Easing -->
    <script src="~/Scripts/jquery.easing.1.3.js"></script>
    <!-- Bootstrap -->
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!-- Waypoints -->
    <script src="~/Scripts/jquery.waypoints.min.js"></script>
    <!-- Flexslider -->
    <script src="~/Scripts/jquery.flexslider-min.js"></script>
    <!-- Owl carousel -->
    <script src="~/Scripts/owl.carousel.min.js"></script>
    <!-- Magnific Popup -->
    <script src="~/Scripts/jquery.magnific-popup.min.js"></script>
    <script src="~/Scripts/magnific-popup-options.js"></script>
    <!-- Date Picker -->
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <!-- Stellar Parallax -->
    <script src="~/Scripts/jquery.stellar.min.js"></script>
    <!-- Main -->
    <script src="~/Scripts/main.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
